{% extends 'templates/app.twig' %}

{% block content %}


<h1>Keno Game</h1>
<div class="keno">

	<div class="faixaPremiacoes">
		<p>Faixa de Premiações</p>
		<table>
			<tr>
				<th>Hit</th>
				<td>0</td>
				<td>1</td>
			</tr>
			<tr class="reward">
				<th>Reward</th>
				<td>4x</td>
				<td>20x</td>
			</tr>
		</table>
	</div>


	<div class="numeros">
		<table id="tableNumeros">
		{% for i in 1..5 %}
			<tr>
			{% for j in 1..8 %}
			{% set n = (i-1)*8+j %}	
				<td value="{{ n }}">{{ n }}</td>
			{% endfor %}
			</tr>
		{% endfor %}
		</table>
	</div>

	<div class="balls">
		{% for i in 0..9 %}
		<span id="ball{{ i }}">{{ i }}</span>
		{% endfor %}
	</div>

	<div class="valor">
		<input type="text" id="betValue" placeholder="0.00">
		<button>/2</button>
		<button>x2</button>
	</div>

	<div class="action">
		<button id="btLimpar">LIMPAR</button>
		<button id="btSortear">SORTEAR</button>
	</div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ base_url() }}/keno.js"></script>
{% endblock %}